// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";

.noresize {
  resize: none;
}

.vresize {
  resize: vertical;
}

.hresize {
  resize: horizontal;
}

.carousel-inner {
  .item {
	position: relative;
  }

  #task-content {
	top: 0;
	position: absolute;
  }

  .project-screenshot {
	height: 20px;
	background: #444;
	border-radius: 5px 5px 0px 0px;
	padding-left: 5px;

	span {
	  border-radius: 100%;
	  width: 8px;
	  height: 8px;
	  background: #888;
	  display: inline-block;
	  margin-left: 3px;
	}
  }
}

